<div class="row">
    <div class="col-md4">
        <form action="/send-sms" method="POST" class="card card-body">
            <div class="form-group">
                <input type="text" name="message" class="form-control" placeholder="Write the message" autofocus>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" class="form-control" placeholder="+01414200394" autocomplete="off">
            </div>
            <button class="btn btn-primary btn-block"> SEND </button>
        </form>
    </div>
</div>